{% extends "base_generic.html" %}
{% block content %}
<div class="container">
        <div class="text-center mb-4">
            <h2 class='my-5 py-5'>Um email foi enviado para mudança de senha.</h2>
            <p>Vamos verificar se o email que você digitou está no nosso banco de dados,
               se estiver cadastrado lhe enviaremos um email para mudança de senha.<br>
               Por favor verifique seu email, cheque sua caixa de entrada e spam.<br>
               Caso não tenha recebido, tente fazer o processo novamente, certificando-se de digitar o email corretamente.
            </p>
      </div>
</div>
{% endblock %}