{% extends "base_generic.html" %}
{% block importarcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/floating-labels.css' %}">
{% endblock %}
{% block content %}
{% if form.errors %}
<p>Senha ou email errado. Por favor, tente novamente.</p>
{% endif %}
<div class="container">
        <form class="form-signin" method='post' action=''>{% csrf_token %}
        <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Mudança de senha:</h1>
        </div>
        <div class="form-label-group">
            <label for="id_mail">Email </label>
            <input type="email" name="email" maxlength="254" class="form-control" placeholder="Email" id="id_email" required autofocus>
        </div>
        <span style='margin-bottom: 12px;'></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Mudar senha</button>
        </form>
</div>
{% endblock %}