{% extends "base_generic.html" %}
{% block importarcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/floating-labels.css' %}">
{% endblock %}
{% block content %}
<div class="container">
        <form method='post' action=''>{% csrf_token %}
        <div class="text-center mb-4">
           <h1 class="h3 mb-3 font-weight-normal">Mudança de senha:</h1>
        </div>
        <div class="form-label-group">
            <label for="id_new_password1">Nova senha</label>
            <input type="password" name="new_password1" class="form-control" placeholder="Senha" id="id_new_password1" required autofocus>
        </div>
        <div class="form-label-group">
            <label for="id_new_password2">Confirme a nova senha</label>
            <input type="password" name="new_password2" class="form-control" placeholder="Senha" id="id_new_password2" required autofocus>
        </div>
        <div class="form-label-group">
            <p>Dicas:<br>
               Sua senha não pode ser similar a outras informações pessoais.<br>
               Sua senha tem que ter pelo menos 8 caracteres.<br>
               Sua senha não pode ser comum.<br>
               Sua senha precisa conter letras e números.<br>
            </p>
        </div>

        <span style='margin-bottom: 12px;'></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Mudar senha</button>
        </form>
      </div>
</div>
{% endblock %}
