{% extends "base_generic.html" %}
{% block importarcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/floating-labels.css' %}">
{% endblock %}
{% block content %}
{% if next %}
{% if user.is_authenticated %}
<p>Sua conta não tem permissão para acessar essa página.</p>
{% else %}
<p>Por favor, faça o login para acessar essa página.</p>
{% endif %}
{% endif %}
<div class="container">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <div class="text-center mb-4">
            <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        </div>

        <div class="form-label-group">
            <input type="email" name="email" class="form-control" placeholder="Email" id="id_email" required autofocus>
            <label for="Email">Email </label>
            {% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
                Email errado. Por favor, tente novamente.
            </div>
        {% endif %}
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="id_password" class="form-control" placeholder="Senha" required>
            <label for="inputPassword">Senha</label>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Algo deu errado. Por favor, tente novamente.
        </div>
        {% endif %}
        <p class="text-right"> <a class="text-right" href="{% url 'password_reset' %}">Esqueci minha senha</a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <a class="nav-link" href="{% url 'register' %}">Criar conta</a>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
    </form>
</div>
{% endblock %}
